<h3>Избранные</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Аватар</th>
      <th scope="col">Проект</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Описание</th>
      <th scope="col">Ссылка</th>
      <th scope="col">
        Язык
      </th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let repository of repositories">
      <td>
        <img width="50" src="{{ repository?.owner?.avatar_url }}" />
      </td>
      <td>{{ repository.name }}</td>
      <td>{{ repository.score }}</td>
      <td>{{ repository.description }}</td>
      <td>
        <a href="{{ repository.html_url }}" target="_blank">{{ repository.url }}</a>
      </td>
      <td>{{ repository.language }}</td>
      <td>
        <button class="btn btn-secondary" (click)="removeInFavorite(repository.id)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table> 